APP_ENV=
GRPC_PORT=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_SSLMODE=

KAFKA_BROKERS=
KAFKA_TOPIC_ORDERS=

PRODUCT_GRPC_ADDR=
CUSTOMER_GRPC_ADDR=
STORE_GRPC_ADDR=
